@import "./variables.scss";

.heading {
	padding: calc(11px + 1vw) calc(1.5vw + 10px) 0;
	// width: 100vw;
	// width: 100%;
	// box-sizing: border-box;
	display: flex;
	// justify-content: center;
	align-items: center;
	max-width: 100vw;

	#header-logo-wrapper {
		// flex: 1 1 0;
		// align-self: center;
		#logo {
			// margin: auto;
			width: calc(100px + 7vw);
			// flex: 0;
			// flex-basis: 1;
			// flex-basis: 3;
		}
	}

	& * {
		// flex: 0 1 auto;
		// flex: 0 1 33vw;
		// flex-basis: 300px; /* if this doesn't work- revert to default */
		// flex: 1;
	}

	.navigation {
		flex: 3;
		display: inline-block;
		text-align: center;
		.navigation-option {
			margin: 0.2em;
			white-space: nowrap;
			text-transform: uppercase;
			font-family: 'Roboto Condensed', sans-serif;
			display: inline;
			padding: 0.3rem 0.5em;
			font-weight: 600;
			color: $white-60;
			cursor: pointer;

			// border: 2px solid blue;
			// background: red;

			// border-radius: ;
			// // background: lightblue;
			// border-radius: 8em 4em;
			// position: relative;
			// padding: 0.6em 1em;
			// border: 0;
			// margin: 0.6em;
			// // background: transparent;
			// // font-size: 30px;
			// color: white;

			// &::before {
			// 	content: "SADF";
			// 	position: absolute;
			// 	top: 0;
			// 	right: 0;
			// 	bottom: 0;
			// 	left: 0;
			// 	z-index: 0;
			// 	background: #32557f;
			// 	transform: skew(30deg);
			// }
		}

		.current-tab {
			color: $black;
			background: $white;
			line-height: 1rem;
			border-radius: 6px;
		}
	}

	.auth-options {
		display: flex;
		// justify-content: center;
		min-width: calc(23ch + 4rem);
		align-items: center;
		gap: calc(4px + 1.7vw);
		// flex-shrink: 0;
		// flex-wrap: wrap;
	}
}
